*{
    border:border-box;
    margin:0px;
    font-family: Arial;
}
.navbar-top{
    height:70px;
    background-color: #0F1111;
    display:flex;
    justify-content: center ;
    align-items: center;
    position:sticky;
    top:0px;  
    /* position: fixed;
    top:0px; */
}
.space{
    margin-left:37px;
    /* align-self:center; */
}

.border:hover{
    border:2px solid white;
}
.amalogo{
    background-image: url("amazon-dark-logo-png.png");
    background-size: cover;
    height:66px;
    width:128px;
}
/* .c2{
    height:66px;
} */
.deli{
    font-size:0.85rem;
    color:#eee9e9;
    font-weight: 180px;
    margin-left:1.1rem;
}
.update{
    font-size:1.2rem;
    font-weight:800px;
    margin-left:2px;
    color:#eee9e9;
}
.c3{
    /* height:66px; */
    display:flex;
}

.c3:hover{
    border:2px solid orange;
}

.all{
    height:40px;
    width:41px;
    border:none;
    background-color: rgb(225, 224, 224);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.placeholder{
    height:38px;
    width:230px;
    font-size:0.90rem;
    border:none;
}

.language i{
    font-size:1rem;
    color:rgb(205, 151, 16);
}
.lang{
    font-size:1rem;
    border:none;
    font-weight: 900px;
    /* border and font weight neeche likha color ke neeche to color ke saath command merge therefore uper likho */
    width:43px;
    background-color: #0F1111;
    color:#eee9e9;
    
   
}

.logo{
    background-color:rgb(205, 151, 16);
    height:40px;
    /* color:white; we can give. */
    width:45px;
    font-size:1.4rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* .logo i{
    margin-top:3px;
    margin-right:3px;
} */

/* .c4{
    height:66px;
} */
.hello{
    font-size:0.85rem;
    font-weight: 180px;
    color:#eee9e9;
    margin-left:3.5px;
}
.accounts{
    font-size:1.2rem;
    font-weight: 900px;
    background-color:#0F1111 ;
    color:#eee9e9;
    border:none;
    width:150px;
}

.returns{
    font-size:0.85rem;
    font-weight: 180px;
    color:#eee9e9;
}
/* .c5{
    height:66px;
} */
.orders{
    font-size:1.2rem;
    font-weight: 900px;;
    color:#eee9e9;
}
.c6{
    /* height:66px; */

    /* height:60px;
    width:80px; */
    /* display: flex;   isse vo row mei aane ki koshsih karega and we think by doing it in div (cart) we will sort it (extra effort)*/  
    color:#eee9e9;
}
.c6 i{       /* or else use .shoplogo by div */
   
    font-size:32px;
    color:#eee9e9;
}

/* .Cart{
    color:#eee9e9;
} */


.sec-top{
    background-color: #222f3d;
    height:53px;
    display:flex;
    /* justify-content: center; */
    align-items:center;
}
.d1{
    color:#eee9e9;
    font-weight:bolder; 
    /* 900px se fark nhi pad rha tha thats why ye kara. */
    font-size:1.1rem;
    margin-left:15px;   
}
.d2{
    color:#eee9e9;
    font-size:0.98rem;
    font-weight:80px;
    margin-left:25px;
}
.side{
   margin-left:260px;
    display:flex;
    align-items: center;
}
.gullak{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color:#a1a1a1;
margin-left:8px;
margin-bottom: 2px;
}
.watch{
    margin-left:23px;
    font-weight: bold;
    font-size:0.98rem;
    color:#eee9e9;
}
.minitv{
    color:#eee9e9;
    font-size:0.77rem;
    margin-left:23px;
}
.a{
    display:flex;
    justify-content:space-evenly;
}

.min{
    color:#eee9e9;
    font-weight:bold;
    font-size:1.1rem;
    display:flex;
    margin-left:9.5px;
    /* display:flex;if <p> tag to not work. */
}
.TV{
    color:rgb(224, 11, 146);
    font-weight: bold;
    font-size:  1.1rem;
    margin-right:3px;
}


.pocket{
    margin-top:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:45px;
    font-weight: bolder;
    font-size:1.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FFFFFF;
}
.pocketimg{
    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;   
}
.img1{
   margin-left:15px;
   margin-right:15px;
   margin-top:12px;
    background-size: cover;
    border-radius:3px;
    height:320px;
    width:20%
}

.backtotop{
    height:62px;
    margin-top:19px;
    background-color: #334252;
    color:#FFFFFF;
    /* display:flex:block:flexbox; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.90rem;
}
.btt{
    text-decoration: none;
}


.lis{
    background-color: #222f3d;
    height:330px;
    display: flex;
    justify-content: space-evenly;  
}
.l1{
    height:220px;
    margin-top:30px;
    margin-right:15px;  
}
/* ul{
   
    margin-right:15px;
    margin-left:10px;
} */
.head{
    color:#e2e7e6;
    font-weight: bold;
    font-size: 1.1rem;  
}
.head:hover{
    text-decoration:underline;
}
a{
    display:block;
    font-size:0.90rem;
    color:#dfdfdf;
    font-weight: lighter;
    text-decoration: none;
    margin-top:8px;
}
/* ul a {
    display:block
} for single line*/

.sec-last{
    background-color: #222f3d;
    border-top:1px solid rgb(93, 103, 135);
    border:lighter;
    height:80px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.sec-lastimg{
    background-image: url("amazon-dark-logo-png.png");
    background-size: cover;
    height:48px;
    width:90px;
    margin-right:130px;
 margin-top:10px;
}
.country{
    background-color: #222f3d;
    font-size:0.85rem;
}
.co{
 background-color: #222f3d;
 color:#e2e7e6; 
 width:100px;
 border:0.8px solid #e2e7e6;
 height:40px;  
}
.selectpicker{
    background-color: #222f3d;
    color:#e2e7e6;
    width:100px;
    height:40px;
    border:0.8px solid #e2e7e6;
    font-size: 1rem;
    margin-left:10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.selectpicker i{
    color:#aba8a8;
    font-size:1.1rem;
    margin-left:7px;
    margin-right: 7px;
}

.last-sec{
    background-color: #131A22;
    height:200px;
    display:flex;
    flex-wrap:wrap;
}
.bx{
    width:25%;
    height:50px;
    margin-top:20px;
    
}
/* .t{
    color:#FFFFFF;
    font-weight: bold;
    font-size: 0.89rem;
}  write it after .bx p*/
.bx p{
    color:#a1a1a1;
    font-size:0.89rem;
}
a:hover{
    text-decoration: underline;
}
/* .go:hover{
    color:rgba(176, 56, 1, 0.721);
    text-decoration: none;
} */

.bx p:hover{
    text-decoration: underline;
}
.t{
    color:#FFFFFF;
    font-weight: bold;
    font-size: 0.89rem;
    margin-left:15px;
}

.last{
    background-color:#131A22 ;
    height:65px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.z1{
    display :flex;
}
.privacy{
    margin-left:10px;
    margin-right:10px;
}
.condition{
    color:#FFFFFF;
    margin-top:4px;
    font-size:0.80rem;
}
.z1:hover{
text-decoration: underline;
}


