*{
    border:border-box;
    margin:0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
    
}
.navbar-top{
    height:70px;
    background-color: #0F1111;
    display:flex;
    justify-content: center ;
    align-items: center;
    position:sticky;
    top:0px;  
    /* position: fixed;
    top:0px; */
}
.space{
    margin-left:37px;
    /* align-self:center; */
}

.border:hover{
    border:2px solid white;
}
.amalogo{
    background-image: url("amazon-dark-logo-png.png");
    background-size: cover;
    height:66px;
    width:128px;
}
/* .c2{
    height:66px;
} */
.deli{
    font-size:0.85rem;
    color:#eee9e9;
    font-weight: 180px;
    margin-left:1.1rem;
}
.update{
    font-size:1.2rem;
    font-weight:800px;
    margin-left:2px;
    color:#eee9e9;
}
.c3{
    /* height:66px; */
    display:flex;
}

.c3:hover{
    border:2px solid orange;
}

.all{
    height:40px;
    width:41px;
    border:none;
    background-color: rgb(225, 224, 224);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.placeholder{
    height:38px;
    width:230px;
    font-size:0.90rem;
    border:none;
}

.language i{
    font-size:1rem;
    color:rgb(205, 151, 16);
}
.lang{
    font-size:1rem;
    border:none;
    font-weight: 900px;
    /* border and font weight neeche likha color ke neeche to color ke saath command merge therefore uper likho */
    width:43px;
    background-color: #0F1111;
    color:#eee9e9;
    
   
}

.logo{
    background-color:rgb(205, 151, 16);
    height:40px;
    /* color:white; we can give. */
    width:45px;
    font-size:1.4rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
/* .c4{
    height:66px;
} */
.hello{
    font-size:0.85rem;
    font-weight: 180px;
    color:#eee9e9;
    margin-left:3.5px;
}
.accounts{
    font-size:1.2rem;
    font-weight: 900px;
    background-color:#0F1111 ;
    color:#eee9e9;
    border:none;
    width:150px;
}

.returns{
    font-size:0.85rem;
    font-weight: 180px;
    color:#eee9e9;
}
/* .c5{
    height:66px;
} */
.orders{
    font-size:1.2rem;
    font-weight: 900px;;
    color:#eee9e9;
}
.c6{
    /* height:66px; */

    /* height:60px;
    width:80px; */
    /* display: flex;   isse vo row mei aane ki koshsih karega and we think by doing it in div (cart) we will sort it (extra effort)*/  
    color:#eee9e9;
}
.c6 i{       /* or else use .shoplogo by div */
   
    font-size:32px;
    color:#eee9e9;
}

/* .Cart{
    color:#eee9e9;
} */


.sec-top{
    background-color: #222f3d;
    height:53px;
    display:flex;
    /* justify-content: center; */
    align-items:center;
}
.d1{
    color:#eee9e9;
    font-weight:bolder; 
    /* 900px se fark nhi pad rha tha thats why ye kara. */
    font-size:1.1rem;
    margin-left:15px;   
}
.d2{
    color:#eee9e9;
    font-size:0.98rem;
    font-weight:80px;
    margin-left:25px;
}
.side{
   margin-left:260px;
    display:flex;
    align-items: center;
}
.gullak{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color:#a1a1a1;
margin-left:8px;
margin-bottom: 2px;
}
.watch{
    margin-left:23px;
    font-weight: bold;
    font-size:0.98rem;
    color:#eee9e9;
}
.minitv{
    color:#eee9e9;
    font-size:0.77rem;
    margin-left:23px;
}
.a{
    display:flex;
    justify-content:space-evenly;
}

.min{
    color:#eee9e9;
    font-weight:bold;
    font-size:1.1rem;
    display:flex;
    margin-left:9.5px;
    /* display:flex;if <p> tag to not work. */
}
.TV{
    color:rgb(224, 11, 146);
    font-weight: bold;
    font-size:  1.1rem;
    margin-right:3px;
}

.boxes{
    display:flex;

}
.img{
    height:250px;
    width:17%;
    background-color: #FFFFFF;
    
    display:flex;
    justify-content: center;
    align-items: center;
}
.i1{
   
    background-image: url("shirt2_img.jpg");
    background-size: cover;
    height:200px;
    width:150px;

}
.content{
    height:250px;
    width:65%;
    background-color: #FFFFFF;
    margin-left:20px;
}